{% extends 'base.html' %}
{% import 'macros.html' as macro%}


{% block content %}

<div class="container">
     <h1>One Minute Pitches Website</h1>
    <div class="pitch" style="padding-bottom: 20px;">
        <a href="{{url_for('main.new_pitch')}}" class="btn btn-success">Create pitch</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Competitor Pitches</h3>
                <p>Say about your competence in a few words</p>
                <a href="{{url_for('main.competitor_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Employee Pitches</h3>
                <p>Want to talk about your work experience.</p>
                <a href="{{url_for('main.employee_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Sport Pitches</h3>
                <p>Want to join a sport team? Talk about it.</p>
                <a href="{{url_for('main.sport_pitches')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
    </div>
</div>
{% endblock%}