{% extends 'base.html'%}
{% import 'macros.html' as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content%}
<div class="container-fluid" style="margin: 55px 25px; background-color:antiquewhite; padding: 60px 60px;" >

    <div class="row">
        <h3>{{pitch.pitch_title}}</h3>
        <hr>
        <p>{{pitch.pitch_content}}</p>
        <span>
            <p>Posted on {{date}} by: {{pitch.user.username|capitalize}}</p>
            <button href="/upvote/{{pitch.id}}">
                <i class="far fa-thumbs-up"></i>{{pitch.upvotes}}</button>
            <button href="/downvote/{{pitch.id}}" type="button">
                <i class="far fa-thumbs-down"></i>{{pitch.downvotes}}
            </span></button>
    </div>
    <div class="row">
        <h3>Comments</h3>
        <hr>
        {% if current_user.is_authenticated %}
        {{ wtf.quick_form(comment_form) }}
        {%endif%}
        {{macros.displayComments(comments)}}
    </div>
</div>
{%endblock%}

